# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# MySQL
DB_HOST="72.61.126.206"
DB_PORT="3311"
DB_USER="root"
DB_PASSWORD="rootpassword"
DB_NAME="mt_contentplanner"
